<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Интернет магазин: каталог</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
      <span class="logo">
        <a href="index.html"><img class="img_logo" src="/static/img/hit.jpg"  alt="Лого"></a>
      </span>
      <div class="menu">
        <ul class="header_ul">
          <li><a class="header_a" href="/">Главная</a></li>
          <li><a class="header_a" href="/catalog">Каталог</a></li>
          <li><a class="header_a" href="/contacts">Контакты</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
      <h3>Каталог:</h3>
      <ul class="catalog_list">
        <li class="catalog_li">
          <div class="catalog_photo">
            <a href="JBL T205BT.html"><img class="catalog_picture_gor" src="/static/img/JBL T205BT.jpg" alt="Гарнитура JBL T205BT"> </a>
          </div>
          <div class="catalog_text">
            <a href="JBL T205BT.html">Гарнитура JBL T205BT</a>
          </div>
        </li>
        <li class="catalog_li">
          <div class="catalog_photo sale">
            <a href="JBL E25BT BLK.html"><img class="catalog_picture_ver" src="/static/img/JBL E25BT BLK.jpg" alt="JBL E25BT BLK"> </a>
          </div>
          <div class="catalog_text">
            <a href="JBL E25BT BLK.html">Гарнитура JBL E25BT BLK</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer">
      <div><a class="back_button" href="#">Наверх!</a></div>
      <p class="copyright">Все права защищены&copy;</p>
    </div>
  </div>
</body>
</html>
