{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<form class="form">
  <legend><h2>Обратная связь:</h2></legend>
  <p><input type="text" placeholder="Введите Ваше имя" size="50" class="form_input"> </p>
  <p><input type="email" placeholder="Введи ваш Email" size="50" class="input_email"> </p>
  <p>
    <input type="text" placeholder="Напишите тему" size="50" class="form_input"><br>
    <input type="checkbox" checked> Хочу получить информацию по акциям и скидкам!
  </p>
  <p><textarea placeholder="Введите комментарий" class="contact_form_textarea"></textarea></p>
  <input type="submit" value="Отправить" class="contact_buttons">
  <input type="reset" value="Очистить" class="contact_buttons">
</form>
<div>
  {% if contact_locations %}
    {% for item in contact_locations %}
      <h3>{{ item.city|title }}:</h3>
      <p>{{ item.address|title }}</p>
      <p>{{ item.phone }}</p>
      <p>{{ item.email }}</p>
    {% endfor %}
  {% else %}
    <h2>Страница в разработке</h2>
  {% endif %}
{% endblock %}
<!-- Не правлю верстку, так как это тренировочный бой -->
