<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Интернет магазин</title>
</head>
  <body>
    <div class="container">
      <div class="header">
        <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
        <span class="logo">
          <a href="index.html"><img class="img_logo" src="/static/img/hit.jpg"  alt="Лого"></a>
        </span>
        <div class="menu">
          <ul class="header_ul">
            <li><a class="header_a" href="/">Главная</a></li>
            <li><a class="header_a" href="/catalog">Каталог</a></li>
            <li><a class="header_a" href="/contacts">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <h3>Приветствую Вас, посетитель нашего магазина "ХитПродаж"</h3>
        <p>Не забудьте посмотреть <a href="catalog.html">каталог товаров</a></p>
      </div>
      <div class="footer">
        <div><a class="back_button" href="#">Наверх!</a></div>
        <p class="copyright">Все права защищены&copy;</p>
      </div>
    </div>
  </body>
</html>
