<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Интернет магазин: Гарнитура JBL E25BT BLK</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <span class="logo">
        <a href="index.html"><img class="img_logo" src="pic/hit.jpg"  alt="Лого"></a>
      </span>
      <div class="menu">
        <ul class="header_ul">
          <li><a class="header_a" href="index.html">Главная</a></li>
          <li><a class="header_a" href="catalog.html">Каталог</a></li>
          <li><a class="header_a" href="contacts.html">Контакты</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
      <h1 class="headers">Гарнитура JBL E25BT BLK</h1>
      <div class="picshortdesc">
        <div class="catalog_photo">
          <a class="sale" href="pic/JBL E25BT BLK.jpg" target="blank">
            <img class="picture_ver" src="pic/JBL E25BT BLK.jpg" alt="JBL E25BT BLK">
          </a>
        </div>
        <div class="shortDesc">
          <h3 class="headers">Описание товара</h3>
          <p class="shortDescription">тип соединения: беспроводные bluetooth; тип амбушюр: вкладыш</p>
        </div>
      </div>
      <div class="buy_button">
        <input type="button" value="Купить" class="contact_buttons">
      </div>
      <h3 class="headers">Характеристики товара</h3>
      <ul class="descriptional_list">
        <li> Крепление: шейный обод </li>
        <li> Тип амбушюр:	вкладыши </li>
        <li> Тип соединения: беспроводные bluetooth </li>
        <li> Регулятор громкости:	есть </li>
        <li> Переключатель треков: есть </li>
        <li> Тип регулятора громкости:	на проводе </li>
        <li> Кнопка ответа вызова: есть </li>
      </ul>
      <h3 class="headers">Технические характеристики</h3>
      <table>
        <tr>
          <td class="table_descriptional_list_column1">Тип, акустический:</td>
          <td class="table_descriptional_list_column2">закрытые</td>
        </tr>
        <tr>
          <td class="table_descriptional_list_column1">Диаметр головок излучателей:</td>
          <td class="table_descriptional_list_column2">9 мм</td>
        </tr>
        <tr>
          <td class="table_descriptional_list_column1">Импеданс:</td>
          <td class="table_descriptional_list_column2">16 Ом</td>
        </tr>
        <tr>
          <td class="table_descriptional_list_column1">Диапазон воспроизводимых частот:</td>
          <td class="table_descriptional_list_column2">от 20 Гц до 20 кГц</td>
        </tr>
        <tr>
          <td class="table_descriptional_list_column1">Крепление микрофона:</td>
          <td class="table_descriptional_list_column2">на проводе</td>
        </tr>
        <tr>
          <td class="table_descriptional_list_column1">Время работы:</td>
          <td class="table_descriptional_list_column2">8 ч</td>
        </tr>
      </table>
      <h3 class="headers">Подробное описание товара</h3>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui modi distinctio hic maxime iusto deserunt libero repellat at neque, laudantium!</p>
    </div>
    <div class="footer">
      <div><a class="back_button" href="#">Наверх!</a></div>
      <p class="copyright">Все права защищены&copy;</p>
    </div>
  </div>
</body>
</html>
